*{
    margin:0;
    padding:0;

}
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.left, .right {
    display: inline-block;
    vertical-align: top;
    height:100%;
}

/* common property */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT Aside section */
.left{
    width:15%;
    border-right: 1px solid rgb(142, 136, 136);
    margin-right: 20px;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height:5%;
    padding: 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.header img{
    width: 18%;
    height: 100%;
}
.header span{
    font-size:1.5rem;
    margin-left: 10px;
}
.container{
    position: relative;
    display:flex;
    flex-direction: column;
    height: 94%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height:60%;
}

.options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    box-sizing: border-box;
    padding:10px;
}

.options div{
    display: flex;
    width:auto;
    height: 30px;
    /* border: 1px dashed; */
    margin-bottom: 10px;
    color: rgb(15, 1, 1);
    font-size: 1.3rem;
    padding: 10px;
    align-items: center;
}

.home span{
    background-image: url('../media/home.png');
}
.draft span{
    background-image: url('../media/home.png');
}

.posts span{
    background-image: url('../media/paper-plane.png');
}

.bookmark span{
    background-image: url('../media/bookmark.png');
}
.options div span{

    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;

}
button{
    /* position: absolute; */
    width:100%;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(0, 0, 6);
    color: white;
    padding: 2px;
    font-size: large;
    left: 30%;
    top:80%;
}
.container .footerLeft{
    display: flex;
    width: 100%;
    height:7%;
    margin: 5px 0 5px 0;
    align-items: center;
    color: #050000;
}
.footerLeft span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(157, 172, 167);
    padding: 5px;
    margin:10px 10px 10px 10px;
}




/**RIGHT Section **/
.right{
    width: 60%;
}



.postForm{
    display: flex;
    width: 100%;
    height: 20%;
    margin:5px  0  5px  0;
    /* background-color: #000308; */
}

.form1{
    display:flex;
    width: 88%;
    height: 100%;
    /* vertical-align:baseline; */
    flex-direction: column;
    justify-content: space-evenly;
}
textarea{
    font-size: large;
    padding:5px;
    border: none;
    /* background-color: rgba(85, 85, 85, 0.558); */

}

.form-actions{
    width: 98%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding:10px;
    /* background-color: bisque; */
}
.form-actions .form-sub-actions{
    width: 80%;
    border-right:2px solid #100c0c;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.form-sub-actions span {
    width: 30px;
    height: 30px;
    /* border: 1px solid; */
    margin:0  30px 0 5px ;
}
.form-sub-actions span img{
    /* display: inline-block; */
    width:100%;
    height:100%;
}
.form-actions .post{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #87898d;
}


.containerRight{

    overflow:auto;
    width: 100%;
    height: 60%;
    /* border: 1px solid blue; */
}
.postContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.postContainer >.wrapper{
    display:flex;
    height:85%;
    width:100%;

}
.user{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:5px;

}

.user img{
    width: 100%;
    height: 100%;
}
.content{
    display: inline flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
    /* border: 1px solid; */
    flex:1;
    vertical-align: top;
}

.userInfo{
    width: auto;
    height:6%;
    /* border: 1px solid; */
    padding: 5px;
    box-sizing: border-box;
    font-weight: 600;
}
.tag{
    color: blue;
    font-weight: 600;
}

.postContent{
    width: 100%;
    max-height:30%;
    /* border: 1px solid; */
    padding:5px;
    box-sizing: border-box;
}
.postContent p {
    max-width: 90%;
    max-height: 100%;
    
}
.postMedia{
    /* border: 1px solid; */
    width:100%;
    height:100%;
    display: flex;
    
    align-items: center;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.postMedia img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: auto;
}

.post-footer{
    height:auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    padding:5px 8px 5px 8px;
    box-sizing: border-box;
    margin-left:60px
}

.post-footer div{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-left: 55px; */
    
}

.post-footer .comments {
background-image: url(../media/chat.png);
}
.post-footer .likes {
    background-image: url(../media/like.png);
}
.post-footer .bookMark{
    background-image: url(../media/bookmark.png);
}



